<footer class="footer">
	<small>
		<a href="http://railstutorial.org">Rails Tutorial</a>
		by Dorian Dziedzic
	</small>
	<nav>
		<ul>
<<<<<<< HEAD
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
=======
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
>>>>>>> 1a28df748d4c8a757009d89a6ceddc0c14c14f4e
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>